:root{
    --imperial-red: #f94144ff;
    --orange-crayola: #f3722cff;
    --carrot-orange: #f8961eff;
    --saffron: #f9c74fff;
    --pistachio: #90be6dff;
    --zomp: #43aa8bff;
    --paynes-gray: #577590ff;}

.expert {
  background-color: var(--imperial-red);
  padding: 0px 0px 0px 10px;
}

.novice {
  background-color: var(--pistachio);
  padding: 0px 0px 0px 10px;
}

.advanced {
  background-color: var(--orange-crayola);
  padding: 0px 0px 0px 10px;
}

.intermediate {
  background-color: var(--saffron);
  padding: 0px 0px 0px 10px;
}

.counter {
    font-size: small;
    text-align: right;
}

.cardstyle {
  padding: 2px;
  margin-bottom: 15px;
  align-self: center;
}

.noviceBorder{
  border: solid 2px var(--pistachio)
}
.intermediateBorder{
  border: solid 2px var(--saffron)
}
.advancedBorder{
  border: solid 2px var(--orange-crayola)
}
.expertBorder{
  border: solid 2px var(--imperial-red)
}