.errorbg {
  background-image: "../public/images/space.jpg";
}

h1 {
  background-color: gold;
  padding: 10px;
  margin: 10px;
  font-family: "oswald";
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
}

h3 {
  font-family: "oswald";
  color: antiquewhite;
}
.info {
  background-color: black;
  color: antiquewhite;
  border-radius: 15px;
}

.trickBtn {
  max-width: 200px;
  background-color: gold;
  color: black;
  border: #ff0000 solid 3px;
  font-family: oswald;
  font-size: x-large;
}

.videoRow {
  justify-content: center;
  margin-bottom: 100px;

}


/* ------------------------ Trick Reel VIDEO PROMPT FOR Trick Page---------------------- */
.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8); /* Dark background with opacity */
  z-index: 1000; /* Ensure it appears above other content */
}

.video-prompt-content {
  position: relative;
  width: 80%;
  max-width: 800px; /* Adjust max-width as needed */
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.video-prompt-close {
  position: absolute;
  top: -10px; /* Move it out of the video area */
  right: -10px; /* Move it out of the video area */
  width: 40px; /* Increase size */
  height: 40px; /* Increase size */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff; /* White background for contrast */
  border-radius: 50%; /* Round shape */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
  font-size: 24px; /* Increase size */
  color: #333; /* Dark color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.video-prompt-close:hover {
  background-color: #ff0000; /* Red background on hover */
  color: #fff; /* White text on hover */
}

iframe {
  width: 100%;
  height: 450px; /* Adjust height as needed */
  border: none;
  border-radius: 10px;
}